<div class="container">
    <div class="heroImage">
        <img [src]="hero.image" [alt]="hero.name">
    </div>
    <hr>
    <div class="heroName">
        {{hero.name}}
    </div>
    <div class="heroDescription">
        {{hero.description}}
    </div>
    <hr>
    <form [formGroup]="editHero" (ngSubmit)="onSubmit()">
            <Label for="heroName">Nome</Label>
            <input type="text" id="heroName" formControlName="heroName" class="form-control">
            <Label for="heroImage">Link Imagem</Label>
            <input type="text" id="heroImage" formControlName="heroImage" class="form-control">
            <Label for="heroDescription">Descrição do Hero</Label>
            <input type="text" id="heroDescription" formControlName="heroDescription" class="form-control">
            <button [disabled]="!editHero.valid" class="btn btn-outline-success">Salvar</button>    
    </form>
</div>