<form [formGroup]="heroForm" (ngSubmit)="addHero()">
  <div class="modal fade addHero"  tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            Add hero
        </div>
          <div class="modal-body">
              <Label for="heroName">Hero name</Label>
              <input type="text" class="form-control" formControlName="heroName" id="heroName">
              <Label for="heroImage">Hero image</Label>
              <input type="text" class="form-control" formControlName="heroImage" id="heroImage">
              <Label for="heroDescription">Hero description</Label>
              <input type="text" class="form-control" formControlName="heroDescription" id="heroDescription">
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Fechar</button>
            <input type="submit" class="btn btn-outline-success" data-dismiss="modal" value="Salvar">
          </div>
      </div>
    </div>
  </div>
</form>