<div [ngClass]="'modal fade ' + this.classNam"  tabindex="1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            Nome: {{this.hero.name}}
        </div>
        <div class="modal-body">
            <img [src]="this.hero.image" alt="" class="img-responsive img-heroes-detail">
            <hr>
            {{this.hero.description}}
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Fechar</button>
          <a [routerLink]="['/edit', this.hero.id]" routerLinkActive="router-link-active" class="btn btn-outline-info" data-dismiss="modal" (click)="showDialog(this.hero.name)">
            Editar
          </a>
        </div>
      </div>
    </div>
</div>