<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container">
        <div>
            <a routerLink="/" class="navbar-brand">Home</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contentMenu" aria-controls="contentMenu"  aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="contentMenu">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Cardápio</a>
                <a href="#" class="nav-item nav-link">Clientes</a>
            </div>
        </div>
    </div>
</nav>